img.mxToolbarMode {
	margin-right: 7px;
}

div.base {
	position: absolute;
	overflow: hidden;
	font-family: Arial;
	font-size: 8pt;
}

div.base#graph {
	border-style: solid;
	border-color: #F2F2F2;
	border-width: 1px;
	background: url('../images/grid.gif');
	width: 65%;
}

#json {
	background-color: white;
	width: 28%;
	height: 80%;
	position: absolute;
	right: 0;
	text-align: left;
}
